@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Noto Sans TC', sans-serif;
  }
}

.marquee-container {
  @apply w-full;
}

.marquee-content {
  @apply inline-block;
  white-space: nowrap;
  animation: marquee 4s linear infinite forwards;
}

@keyframes marquee {
  0% {
    left: 100%;
    transform: translateX(0%);
  }
  100% {
    left: 0;
    transform: translateX(-100%);
  }
}

@keyframes blurIn {
  0% {
    filter: blur(8px);
  }
  100% {
    filter: blur(0);
  }
}

@keyframes HugeFadeIn {
  0% {
    transform: scale(2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 100;
  }
}

@keyframes SmallFadeIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 100;
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
    animation-timing-function: ease-in-out;
  }
  50% {
    transform: translateY(15px);
    animation-timing-function: ease-in-out;
  }
}
